<!DOCTYPE html>
<html>
<head>
	<title>Python Starter Application</title>
	<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="stylesheets/style.css" />-->
</head>
<body>
<h2>ENTER YOUR CREDENTIALS</h2>
<form action="/authenticate" method="POST" name="form1">
<label>user name</label>
<input type="text" name=userid>
<br><br>
<label>password</label>
<input type="password" name=pass><br>
<input type="submit" href="/authenticate" name="auth">
</form>
</body>
</html>
